In [319]:

import numpy as np
import pandas as pd
from numpy import log2 as log
eps = np.finfo(float).eps
import random
import math

data = pd.read_csv('./dataset/train.csv')
data['Age'] = data['Age'].interpolate()
data.dropna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [320]:
data.loc[data['Age'] <= 16, 'Age'] = 0
data.loc[(data['Age'] > 16) & (data['Age'] < 50), 'Age'] = 1
data.loc[data['Age'] >= 50, 'Age'] = 2
data.loc[data['Fare'] <=15.64585, 'Fare'] = 0
data.loc[(data['Fare'] > 15.64585) & (data['Fare'] < 33), 'Fare'] = 1
data.loc[data['Fare'] >= 33, 'Fare'] = 2
data['Embarked'] = data['Embarked'].fillna(method = 'ffill')
data = data.drop(['Name', 'Ticket', 'Cabin', 'PassengerId', 'SibSp', 'Parch'], axis = 1)

In [325]:
def entropy(probs):  
    return sum( [-prob*math.log(prob, 2) for prob in probs] )

In [326]:
def attribute_entropy(d, col):
   
    series = col.value_counts(normalize = True)
    
    split = d.groupby([col, 'Survived'])
    #p = split.agg(lambda x:len(x)/len(col.index))
    e = pd.DataFrame({'Prob' : split.size()/len(col.index)}).reset_index()
    p = []
    
    #print(e)
    p = sum(series * entropy(e['Prob']))
    #for keys, vals in split:
        #p.append(vals/len(col.index))
    
    return p
attribute_entropy(data, data['Sex'])

1.679252438464885

In [336]:
def split_and_findgain(d, node):
    
    #all_entropies = subtable.agg(attribute_entropy(node))
    vals = d[node].unique()
    v = d[node].value_counts(normalize = True)
    #print(vals)
    all_entropies = []
    for val in vals:
        df = d[d[node] == val]
        #print(df)
        all_entropies.append(attribute_entropy(df, df[node]))
    #print(all_entropies)
    wt_avg = sum([a*b for a,b in zip(v,all_entropies)])
    #for i in range(len(v)):
        #wt_avg += v[i]*all_entropies[i]
    #wt_avg = sum(pd.Series(all_entropies) * pd.Series(v))
    #print("Average entropy :", wt_avg)
    e = entropy(d['Survived'].value_counts(normalize = True))
    #print("Entropy :", e)
    ig = e - wt_avg
    #print(ig)
    return ig
print(split_and_findgain(data,'Sex'))

0.2176601066606142

In [345]:
def buildTree(d, attributes, return_val = None):
    
    proportion = {'0' : list(d['Survived']).count(0), '1' : list(d['Survived']).count(1)}
    
    if len(proportion) == 1:
        return proportion.keys()
    
    elif d.empty or(not attributes):
        return return_val

    else:
        return_val = max(proportion.keys())
        ig1 = {}
        ig = []
        for node in attributes:
            ig1 = {**ig1, **{node : split_and_findgain(d, node)}}
            ig.append(split_and_findgain(d, node))
        print(ig1)
        node = attributes[ig.index(max(ig))]
        #print(node)
        tree = {node :{}}

        att = attributes.copy()
        att.remove(node)
        #print(att)
        
        for val, subtable in d.groupby(node):
            #print(tree)
            tree[node][val] = buildTree(subtable, att, return_val)
        return tree

print(buildTree(data, ['Pclass', 'Age', 'Fare', 'Sex', 'Embarked']))

{'Pclass': 0.0838310452960116, 'Age': 0.011072196821102831, 'Fare': 0.06632324196798856, 'Sex': 0.2176601066606142, 'Embarked': 0.021583390635887656}
{'Pclass': 0.33433866977686943, 'Age': 0.013371856074800403, 'Fare': 0.07422447543827027, 'Embarked': 0.1735224604754393}
{'Age': 0.01809012665882412, 'Fare': 0.011856716605231354, 'Embarked': 0.007029365886374983}
{'Fare': 0.0, 'Embarked': 0.10218717094933333}
{'Fare': 0.0}
{'Fare': 0.0}
{'Fare': 0.0019166721182913293, 'Embarked': 0.02435953807285003}
{'Fare': 0.0}
{'Fare': 0.0}
{'Fare': 0.004791113356737514}
{'Fare': -0.5377099333829861, 'Embarked': 0.09948062271719046}
{'Fare': 0.5435644431995964}
{'Fare': 0.0}
{'Fare': 0.0}
{'Age': 0.27132305697295894, 'Fare': 0.1498616798276935, 'Embarked': 0.35839592724624625}
{'Age': 0.0, 'Fare': 0.0}
{'Fare': 0.0}
{'Fare': 0.0}
{'Age': 0.0, 'Fare': 0.0}
{'Fare': 0.0}
{'Fare': 0.0}
{'Age': -0.1330491983461542, 'Fare': 0.015101416744669083}
{'Age': 0.03240801670989385}
{'Age': 0.3299404611743595}
{'Age': 0.0}
{'Age': 0.023872055802377612, 'Fare': 0.06963266406655277, 'Embarked': 0.06810454492317208}
{'Age': 0.049436996427211, 'Embarked': 0.019743084745145856}
{'Embarked': 0.21090635081566245}
{'Embarked': 0.0459858441481209}
{'Embarked': 0.0}
{'Age': 0.005700384552224658, 'Embarked': 0.128628148412665}
{'Age': 0.0}
{'Age': 0.0}
{'Age': 0.0672448372616713}
{'Age': 0.0, 'Embarked': 0.0}
{'Embarked': 0.0}
{'Embarked': 0.0}
{'Pclass': 0.03669450739520774, 'Age': 0.02694306982928807, 'Fare': 0.03565533254532993, 'Embarked': 0.06328339623505685}
{'Pclass': 0.027014577164602316, 'Age': 0.005501034280591344, 'Fare': 0.03282666714113569}
{'Pclass': 0.0007118470982970804, 'Age': 0.012023151992413217}
{'Pclass': 0.0}
{'Pclass': 0.0013847128549449028}
{'Pclass': 0.0}
{'Pclass': 0.10926426230562147, 'Age': 0.14310852874469293}
{'Pclass': 0.0}
{'Pclass': 0.19151893940328069}
{'Pclass': 0.0}
{'Pclass': 0.0016794643057579384, 'Age': 0.061765881514410426}
{'Pclass': 0.0}
{'Pclass': 0.07614306870145238}
{'Pclass': 0.0}
{'Pclass': 0.005487809628798634, 'Age': 0.03447881386934826, 'Fare': 0.011143156327063197}
{'Pclass': 0.0, 'Fare': 0.0}
{'Fare': 0.0}
{'Pclass': 0.005157970760357011, 'Fare': 0.09930797730877666}
{'Pclass': 0.0}
{'Pclass': 0.0}
{'Pclass': 0.0}
{'Pclass': 0.0, 'Fare': 0.0}
{'Fare': 0.0}
{'Fare': 0.0}
{'Pclass': 0.0183552805396765, 'Age': 0.04712373549911941, 'Fare': 0.03368275569855217}
{'Pclass': 0.19275297432229643, 'Fare': 0.011376827617864627}
{'Fare': 0.0}
{'Fare': 0.1319146418983499}
{'Fare': 0.04748881016046835}
{'Pclass': 0.04810704914752095, 'Fare': 0.022644690431485204}
{'Fare': 0.13607873664961245}
{'Fare': 0.014351586352370993}
{'Fare': 0.028545305991889813}
{'Pclass': 0.06673779257599766, 'Fare': 0.04114286468598094}
{'Fare': 0.07185512911185765}
{'Fare': 0.03637309922189941}
{'Fare': 0.0}
{'Sex': {'female': {'Pclass': {1: {'Age': {0.0: {'Embarked': {'C': {'Fare': {2.0: '1'}}, 'S': {'Fare': {2.0: '1'}}}}, 1.0: {'Embarked': {'C': {'Fare': {1.0: '1', 2.0: '1'}}, 'Q': {'Fare': {2.0: '1'}}, 'S': {'Fare': {1.0: '1', 2.0: '1'}}}}, 2.0: {'Embarked': {'C': {'Fare': {1.0: '1', 2.0: '1'}}, 'Q': {'Fare': {2.0: '1'}}, 'S': {'Fare': {1.0: '1', 2.0: '1'}}}}}}, 2: {'Embarked': {'C': {'Age': {0.0: {'Fare': {1.0: '1', 2.0: '1'}}, 1.0: {'Fare': {0.0: '1', 1.0: '1', 2.0: '1'}}}}, 'Q': {'Age': {0.0: {'Fare': {0.0: '1'}}, 1.0: {'Fare': {0.0: '1'}}}}, 'S': {'Fare': {0.0: {'Age': {1.0: '1', 2.0: '1'}}, 1.0: {'Age': {0.0: '1', 1.0: '1', 2.0: '1'}}, 2.0: {'Age': {0.0: '1', 1.0: '1'}}}}}}, 3: {'Fare': {0.0: {'Age': {0.0: {'Embarked': {'C': '1', 'Q': '1', 'S': '1'}}, 1.0: {'Embarked': {'C': '1', 'Q': '1', 'S': '1'}}, 2.0: {'Embarked': {'Q': '1', 'S': '1'}}}}, 1.0: {'Embarked': {'C': {'Age': {0.0: '1', 1.0: '1'}}, 'Q': {'Age': {1.0: '1'}}, 'S': {'Age': {0.0: '1', 1.0: '1'}}}}, 2.0: {'Age': {0.0: {'Embarked': {'S': '1'}}, 1.0: {'Embarked': {'S': '1'}}}}}}}}, 'male': {'Embarked': {'C': {'Fare': {0.0: {'Age': {0.0: {'Pclass': {3: '1'}}, 1.0: {'Pclass': {2: '1', 3: '1'}}, 2.0: {'Pclass': {3: '1'}}}}, 1.0: {'Age': {0.0: {'Pclass': {1: '1', 3: '1'}}, 1.0: {'Pclass': {1: '1', 2: '1', 3: '1'}}, 2.0: {'Pclass': {1: '1'}}}}, 2.0: {'Age': {0.0: {'Pclass': {2: '1'}}, 1.0: {'Pclass': {1: '1', 2: '1'}}, 2.0: {'Pclass': {1: '1'}}}}}}, 'Q': {'Age': {0.0: {'Pclass': {3: {'Fare': {0.0: '1', 1.0: '1'}}}}, 1.0: {'Fare': {0.0: {'Pclass': {3: '1'}}, 1.0: {'Pclass': {3: '1'}}, 2.0: {'Pclass': {1: '1'}}}}, 2.0: {'Pclass': {2: {'Fare': {0.0: '1'}}, 3: {'Fare': {0.0: '1'}}}}}}, 'S': {'Age': {0.0: {'Pclass': {1: {'Fare': {2.0: '1'}}, 2: {'Fare': {0.0: '1', 1.0: '1', 2.0: '1'}}, 3: {'Fare': {0.0: '1', 1.0: '1', 2.0: '1'}}}}, 1.0: {'Pclass': {1: {'Fare': {0.0: '1', 1.0: '1', 2.0: '1'}}, 2: {'Fare': {0.0: '1', 1.0: '1', 2.0: '1'}}, 3: {'Fare': {0.0: '1', 1.0: '1', 2.0: '1'}}}}, 2.0: {'Pclass': {1: {'Fare': {1.0: '1', 2.0: '1'}}, 2: {'Fare': {0.0: '1', 1.0: '1', 2.0: '1'}}, 3: {'Fare': {0.0: '1'}}}}}}}}}}