In [319]:

import numpy as np
import pandas as pd
from numpy import log2 as log
eps = np.finfo(float).eps
import random
import math

data = pd.read_csv('./dataset/train.csv')
data['Age'] = data['Age'].interpolate()
data.dropna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [320]:
data.loc[data['Age'] <= 16, 'Age'] = 0
data.loc[(data['Age'] > 16) & (data['Age'] < 50), 'Age'] = 1
data.loc[data['Age'] >= 50, 'Age'] = 2
data.loc[data['Fare'] <=15.64585, 'Fare'] = 0
data.loc[(data['Fare'] > 15.64585) & (data['Fare'] < 33), 'Fare'] = 1
data.loc[data['Fare'] >= 33, 'Fare'] = 2
data['Embarked'] = data['Embarked'].fillna(method = 'ffill')
data = data.drop(['Name', 'Ticket', 'Cabin', 'PassengerId', 'SibSp', 'Parch'], axis = 1)

In [325]:
def entropy(probs):  
    return sum( [-prob*math.log(prob, 2) for prob in probs] )

In [326]:
def attribute_entropy(d, col):
   
    series = col.value_counts(normalize = True)
    
    split = d.groupby([col, 'Survived'])
    #p = split.agg(lambda x:len(x)/len(col.index))
    e = pd.DataFrame({'Prob' : split.size()/len(col.index)}).reset_index()
    p = []
    
    #print(e)
    p = sum(series * entropy(e['Prob']))
    #for keys, vals in split:
        #p.append(vals/len(col.index))
    
    return p
attribute_entropy(data, data['Sex'])

1.679252438464885

In [336]:
def split_and_findgain(d, node):
    
    #all_entropies = subtable.agg(attribute_entropy(node))
    vals = d[node].unique()
    v = d[node].value_counts(normalize = True)
    #print(vals)
    all_entropies = []
    for val in vals:
        df = d[d[node] == val]
        #print(df)
        all_entropies.append(attribute_entropy(df, df[node]))
    #print(all_entropies)
    wt_avg = sum([a*b for a,b in zip(v,all_entropies)])
    #for i in range(len(v)):
        #wt_avg += v[i]*all_entropies[i]
    #wt_avg = sum(pd.Series(all_entropies) * pd.Series(v))
    #print("Average entropy :", wt_avg)
    e = entropy(d['Survived'].value_counts(normalize = True))
    #print("Entropy :", e)
    ig = e - wt_avg
    #print(ig)
    return ig
print(split_and_findgain(data,'Sex'))

0.2176601066606142

In [343]:
def buildTree(d, attributes, return_val = None):
    
    proportion = {'0' : list(d['Survived']).count(0), '1' : list(d['Survived']).count(1)}
    
    if len(proportion) == 1:
        return proportion.keys()
    
    elif d.empty or(not attributes):
        return return_val

    else:
        return_val = max(proportion.keys())
        ig = []
        for node in attributes:
            ig.append(split_and_findgain(d, node))
        #print(ig)
        node = attributes[ig.index(max(ig))]
        #print(node)
        tree = {node :{}}

        att = attributes.copy()
        att.remove(node)
        #print(att)
        
        for val, subtable in d.groupby(node):
            #print(tree)
            tree[node][val] = buildTree(subtable, att, return_val)
        return tree

print(buildTree(data, ['Pclass', 'Age', 'Fare', 'Sex', 'Embarked']))

{'Sex': {'female': {'Pclass': {1: {'Age': {0.0: {'Embarked': {'C': {'Fare': {2.0: '1'}}, 'S': {'Fare': {2.0: '1'}}}}, 1.0: {'Embarked': {'C': {'Fare': {1.0: '1', 2.0: '1'}}, 'Q': {'Fare': {2.0: '1'}}, 'S': {'Fare': {1.0: '1', 2.0: '1'}}}}, 2.0: {'Embarked': {'C': {'Fare': {1.0: '1', 2.0: '1'}}, 'Q': {'Fare': {2.0: '1'}}, 'S': {'Fare': {1.0: '1', 2.0: '1'}}}}}}, 2: {'Embarked': {'C': {'Age': {0.0: {'Fare': {1.0: '1', 2.0: '1'}}, 1.0: {'Fare': {0.0: '1', 1.0: '1', 2.0: '1'}}}}, 'Q': {'Age': {0.0: {'Fare': {0.0: '1'}}, 1.0: {'Fare': {0.0: '1'}}}}, 'S': {'Fare': {0.0: {'Age': {1.0: '1', 2.0: '1'}}, 1.0: {'Age': {0.0: '1', 1.0: '1', 2.0: '1'}}, 2.0: {'Age': {0.0: '1', 1.0: '1'}}}}}}, 3: {'Fare': {0.0: {'Age': {0.0: {'Embarked': {'C': '1', 'Q': '1', 'S': '1'}}, 1.0: {'Embarked': {'C': '1', 'Q': '1', 'S': '1'}}, 2.0: {'Embarked': {'Q': '1', 'S': '1'}}}}, 1.0: {'Embarked': {'C': {'Age': {0.0: '1', 1.0: '1'}}, 'Q': {'Age': {1.0: '1'}}, 'S': {'Age': {0.0: '1', 1.0: '1'}}}}, 2.0: {'Age': {0.0: {'Embarked': {'S': '1'}}, 1.0: {'Embarked': {'S': '1'}}}}}}}}, 'male': {'Embarked': {'C': {'Fare': {0.0: {'Age': {0.0: {'Pclass': {3: '1'}}, 1.0: {'Pclass': {2: '1', 3: '1'}}, 2.0: {'Pclass': {3: '1'}}}}, 1.0: {'Age': {0.0: {'Pclass': {1: '1', 3: '1'}}, 1.0: {'Pclass': {1: '1', 2: '1', 3: '1'}}, 2.0: {'Pclass': {1: '1'}}}}, 2.0: {'Age': {0.0: {'Pclass': {2: '1'}}, 1.0: {'Pclass': {1: '1', 2: '1'}}, 2.0: {'Pclass': {1: '1'}}}}}}, 'Q': {'Age': {0.0: {'Pclass': {3: {'Fare': {0.0: '1', 1.0: '1'}}}}, 1.0: {'Fare': {0.0: {'Pclass': {3: '1'}}, 1.0: {'Pclass': {3: '1'}}, 2.0: {'Pclass': {1: '1'}}}}, 2.0: {'Pclass': {2: {'Fare': {0.0: '1'}}, 3: {'Fare': {0.0: '1'}}}}}}, 'S': {'Age': {0.0: {'Pclass': {1: {'Fare': {2.0: '1'}}, 2: {'Fare': {0.0: '1', 1.0: '1', 2.0: '1'}}, 3: {'Fare': {0.0: '1', 1.0: '1', 2.0: '1'}}}}, 1.0: {'Pclass': {1: {'Fare': {0.0: '1', 1.0: '1', 2.0: '1'}}, 2: {'Fare': {0.0: '1', 1.0: '1', 2.0: '1'}}, 3: {'Fare': {0.0: '1', 1.0: '1', 2.0: '1'}}}}, 2.0: {'Pclass': {1: {'Fare': {1.0: '1', 2.0: '1'}}, 2: {'Fare': {0.0: '1', 1.0: '1', 2.0: '1'}}, 3: {'Fare': {0.0: '1'}}}}}}}}}}