In [25]:
#Importing required libraries
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
eps = np.finfo(float).eps
from numpy import log2 as log

In [26]:
train = pd.read_csv(r"C:\Users\Ruchi\Documents\titanic_train.csv")
test = pd.read_csv(r"C:\Users\Ruchi\Documents\titanic_test.csv")

In [27]:
org_train = train.copy()
org_test = test.copy()

In [28]:
data = train.append(test, sort = True)

In [29]:
#Cleaning
data.dropna()
data['sex'] =  data['sex'].map( {'female': 0, 'male': 1} ).astype(int)
#Grouping ages
data.loc[data['age'] <= 16, 'age'] = 0
data.loc[(data['age'] > 16) & (data['age'] < 50), 'age'] = 1
data.loc[data['age'] >= 50, 'age'] = 2

In [30]:
print(data.shape)
data.info()

(1309, 15)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 458
Data columns (total 15 columns):
age             1046 non-null float64
boat            486 non-null object
body            121 non-null float64
cabin           295 non-null object
embarked        1307 non-null object
fare            1308 non-null float64
home.dest       745 non-null object
name            1309 non-null object
parch           1309 non-null int64
passenger_id    1309 non-null int64
pclass          1309 non-null int64
sex             1309 non-null int32
sibsp           1309 non-null int64
survived        850 non-null float64
ticket          1309 non-null object
dtypes: float64(4), int32(1), int64(4), object(6)
memory usage: 158.5+ KB

In [31]:
def entropy(target_col):
    """
    Calculate the entropy of a dataset.
    The only parameter of this function is the target_col parameter which specifies the target column
    """
    elements,counts = np.unique(target_col,return_counts = True)
    entropy = np.sum([(-counts[i]/np.sum(counts))*np.log2(counts[i]/np.sum(counts)) for i in range(len(elements))])
    return entropy

In [32]:
entropy('age')

0.0

In [33]:
np.unique('age')

array(['age'], dtype='<U3')

In [34]:
data['age'].value_counts()

1.0    802
0.0    134
2.0    110
Name: age, dtype: int64

In [35]:
data.age.value_counts()

1.0    802
0.0    134
2.0    110
Name: age, dtype: int64

In [36]:
type(data.age.value_counts())

pandas.core.series.Series

In [37]:
def entropy_mine(target_col):
    element_ratios = []
    element_ratios = data.iloc[[0,1,2],0]

In [38]:
data.age.value_counts().keys()

Float64Index([1.0, 0.0, 2.0], dtype='float64')

In [44]:
def ent(age):
    for value in data.target_col.value_counts():
        e = np.sum(-(value*log(value)))

In [54]:
for value in data.age.value_counts():
    e = np.sum(-(value*log(value)))
    print(value)

802
134
110

In [55]:
print(e)

-745.9495684877126